.inputForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 348px;
    max-width: 360px;
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
}

.label {
    color: var(--color-gray);
    padding-bottom: 8px;
}

.inputBar {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 12px;
    background: var(--color-input);

    :focus {
        outline: none !important;
        border: 2px solid var(--color-focus);
    }
}

.cityInput {
    flex: 1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    padding-left: 28px;
    background: var(--color-input);

    &:focus::placeholder {
        color: transparent;
    }

    &:placeholder {
        color: var(--color-gray);
        transition: color 0.2s ease;
    }
}

.locationIcon {
    position: absolute;
    bottom: 18px;
    left: 18px;
    width: 20px;
    height: 20px;
}

.filterSection {
    width: 360px;
    height: auto;
    margin-bottom: 8px;
}

.filterTitle {
    font-weight: 500;
    margin-bottom: 32px;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
}

.btnsWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0 32px;
    width: 100%;
    gap: 8px 12px;
}

.h3Filter {
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-light-gray);
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resetBtn {
    color: var(--color-btn);
    background-color: var(--color-white) !important;
    border-radius: 200px;
    border: 1px solid var(--color-light-gray);
    transition: transform 0.3s ease;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -0.08px;

    &:focus,
    &:hover {
        border: 1px solid var(--color-btn-hover);
        transform: scale(1.05);
    }
}