.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper textarea {
    font-family: Inter, sans-serif;
    margin-bottom: 4px;
}

.wrapper .error {
    color: var(--color-btn);
    font-size: 12px;
}