.details {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--color-light-gray);
}

.detailTitle::first-letter,
.detailValue::first-letter {
    text-transform: capitalize;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 28px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid var(--color-light-gray);
    margin-bottom: 44px;
}

.tab {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 6px solid transparent;
    transition: border-bottom var(--trans);
}

.active {
    border-bottom: 5px solid var(--color-btn);
}

.feature {
    padding: 5px 10px;
    background-color: var(--color-input);
    border-radius: 4px;
}

.vehicleDetails li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: 500;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review {
    width: 386px;
    color: var(--color-text);
    border-radius: 8px;
}

.reviewHeader {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: var(--color-btn);
    border-radius: 100%;
    background-color: var(--color-white);
}

.reviewAuthor {
    font-weight: bold;
}

.reviewRating {
    color: var(--color-btn);
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    color: var(--color-main);
}

.icon,
.popIcon {
    width: 16px;
    height: 16px;
    fill: transparent;
    object-fit: contain;
    stroke: var(--color-main);
}

.popIcon {
    width: 20px;
    height: 20px;
}

.ratingBar {
    display: block;
    border-bottom: 1px solid var(--color-main);
}

.ratingLocation {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.locationBar {
    display: flex;
    gap: 4px;
}

.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.gallery {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.image {
    width: 292px;
    min-height: 312px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
}

.descriptionBar {
    display: flex;
    flex-direction: column;
}

.description {
    width: 1312px;
    margin-bottom: 60px;
    color: var(--color-text);
}

.description.hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buttonMore {
    margin-right: 0;
    margin-left: auto;
    font-weight: 500;
    color: var(--color-label);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer {
    display: flex;
    gap: 24px;
}

.tabContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.featuresList {
    display: flex;
    flex-wrap: wrap;
    height: 204px;
    overflow-y: auto;
    gap: 8px;
}

.featuresItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0 18px;
    height: 44px;
    font-weight: 500;
    line-height: 1.25;
    border-radius: 100px;
    background-color: var(--color-white);

    &>svg {
        height: 18px;
    }
}