.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 4px;
    }

    input::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 18px;
        z-index: 10;
        cursor: pointer;
    }

    .error {
        color: var(--color-btn);
        font-size: 12px;
    }
}